*, h1, h2, h3, h4, h5{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
p{
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
Link{
    padding: 16px;
}
nav{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0 4%;
}

.nav-links a {
    margin-right: 10px; 
    text-decoration: none;
    font-size: 1.25rem;
}
.blog-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}
.container-lp{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    align-items: center;
    z-index: 10;
}
.identity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.blog-tabs{
   /* box-shadow: -4px 8px 34px -3px rgba(189, 161, 161, 0.75); */
   border-bottom: 1px solid gray;
    min-width: 75%;
    max-width: 75%;
    margin: 1%;
    padding: 16px;
}
img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.container-blogpost{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
}
.container-blogs{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.container-blogpost div{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.social-icons{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.projects{
    background-color: #F0F6F6;
    min-height: 100vh;
    width: 100%;
}

.projects-header{
    font-size: 3.5rem;
    text-align: center ;
    padding: 3% 0%;
}

.project-row{
    width: 100%;
    display: flex;
    padding: 32px 0px;
}

.project-display, 
.project-description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-description{
    flex-direction: column;
    line-height: normal;
    text-align: justify;
    font-size: 1rem;
    font-weight: 300;
}

.project-description article{
    width: 60%;
}

.project-display-img{
    border-radius: 5px;
    height: 100%;
    width: 70%;
}

.contact{
    height: 15vh;
}

.contact-info{
    text-align: center;
    margin-top: 5%;
}

.contact-info-link {
    font-size: 1rem;
    padding: 0px 8px;
    font-weight: 700;
}

.project-feature-list{
    margin-top: 5%;
}

@media (max-width: 768px) {

    .project-row{
        flex-direction: column;
    }

    .project-display,
    .project-description {
        width: 100%;
        min-height: 50vh;
    }
}

@media (max-width: 425px) {
    *, h1, h2, h3, h4, h5, a{
        font-size: 1rem;
    }
    .project-row{
        flex-direction: column;
    }


    .project-display-img{
        height: 90%;
        width: 90%;
    }
    .project-description article{
        width: 75%;
    }
}